<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @page_title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/platform.css") %>">
  </head>

  <body id="user-page" class="user-page">
    <header id="header" class="header">
      <section class="container">
        <nav id="nav" class="nav">
          <ul class="nav-item-container">
            <li class="nav-item home-link current">
              <a href="/">
                <span class="icon"><img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Home icon"></span>
                <span class="link-text">Home</span>
              </a>
              <div class="bottom-line"></div>
            </li>
            <li class="nav-item notifications-link">
              <a href="/i/notifications">
                <span class="icon"><img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Notifications icon"></span>
                <span class="link-text">Notifications</span>
              </a>
              <div class="bottom-line"></div>
            </li>
            <li class="nav-item messages-link">
              <a href="/i/messages">
                <span class="icon"><img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Messages icon"></span>
                <span class="link-text">Messages</span>
              </a>
              <div class="bottom-line"></div>
            </li>
          </ul>
        </nav>
        <figure id="logo" class="logo">
          <a href="/">
            <img src="<%= static_path(@conn, "/images/logo.png") %>" alt="Logo">
          </a>
        </figure>
        <section id="actions" class="actions">
          <ul class="actions-item-container">
            <li class="actions-item search"><input id="search-input" class="search-input" type="text" placeholder="Search Social"></li>
            <li class="actions-item profile-actions">
              <figure class="profile-picture" style="background-image: url('<%= static_path(@conn, "/images/profile-picture.png") %>');"></figure>
              <ul class="profile-actions-dropdown">
                <li class="current-user" data-name="profile">
                  <a href="#">
                    <div class="content">
                      <b class="name">Kees</b>
                      <div class="view-profile">View profile</div>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li data-name="lists"><a href="#">Lists</a></li>
                <li class="divider"></li>
                <li data-name="help"><a href="/support">Help</a></li>
                <li class="divider"></li>
                <li data-name="settings"><a href="/settings/account">Settings</a></li>
                <li class="signout"><a href="#">Log out</a></li>
              </ul>
            </li>
            <li id="global-new-tweet-btn" class="actions-item new-tweet-btn btn" title="Compose Tweet">
              <span class="btn-content-container">
                <span class="btn-icon"><img src="<%= static_path(@conn, "/images/icons/tweet-icon.png") %>" alt="Tweet icon"></span>
                <span class="btn-text">Tweet</span>
              </span>
            </li>
          </ul>
        </section>
      </section>
    </header>

    <section id="notification-container" class="notification-container"></section>

    <section id="profile-data-top" class="profile-data-top">
      <figure id="banner" class="banner" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></figure>
      <section class="profile-data-container">
        <figure id="profile-picture" class="profile-picture" style="background-image: url('<%= static_path(@conn, "/images/profile-picture.png") %>')"></figure>
        <h1 id="name" class="name">
          <a href="<%= user_path(@conn, :show, @username) %>" class="profile-link"><%= @data[:name] %></a>
        </h1>
        <h2 id="username" class="username">
          <a href="<%= user_path(@conn, :show, @username) %>" class="profile-link">@<%= @username %></a>
        </h2>
        <section class="btn-container">
          <div id="follow-btn" class="btn blue-btn follow-btn">Follow</div>
          <div id="tweet-to-btn" class="btn grey-btn tweet-to-btn">Tweet to</div>
        </section>
      </section>
    </section>

    <main id="main" class="main" role="main">
      <section class="left-col">
        <article id="stats-widget" class="stats-widget widget">
          <section class="content-container">
            <section class="following-col col">
              <a href="<%= user_path(@conn, :show_following, @username) %>">
                <h4 class="title">Following</h4>
                <h1 id="following-count" class="following-count count">2,493</h1>
              </a>
            </section>
            <section class="followers-col col">
              <a href="<%= user_path(@conn, :show_followers, @username) %>">
                <h4 class="title">Followers</h4>
                <h1 id="followers-count" class="following-count count">2,460</h1>
              </a>
            </section>
            <section class="tweets-col col">
              <a href="<%= user_path(@conn, :show, @username) %>">
                <h4 class="title">Tweets</h4>
                <h1 id="tweets-count" class="following-count count">5,497</h1>
              </a>
            </section>
          </section>
        </article>
        <article id="profile-data-widget" class="profile-data-widget widget">
          <header class="title-container">
            <h1 class="title">
              <span id="profile-data-name" class="profile-data-name">
                <%= @data[:name] %>
              </span>
              <span id="profile-data-username" class="profile-data-username">
                @<%= @username %>
              </span>
            </h1>
          </header>
          <section class="content-container">
            <%= if @data[:bio] != nil do %>
              <div id="profile-data-bio" class="profile-data-bio">
                <span class="data"><%= @data[:bio] %></span>
              </div>
            <% end %>
            <%= if @data[:location] != nil do %>
              <div id="profile-data-location" class="profile-data-location profile-data-item">
                <span class="icon">
                  <img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Location icon">
                </span>
                <span class="data"><%= @data[:location] %></span>
              </div>
            <% end %>
            <%= if @data[:website] != nil do %>
              <div id="profile-data-website" class="profile-data-website profile-data-item">
                <span class="icon">
                  <img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Website icon">
                </span>
                <span class="data">
                  <a href="<%= @data[:website] %>" target="_blank">
                    <%=     
                      @data[:website]
                      |> String.replace("http://", "")
                      |> String.replace("https://", "")
                      |> String.replace("www.", "")
                    %>
                  </a>
                </span>
              </div>
            <% end %>
            <%= if @data[:birthday] != nil do %>
              <div id="profile-data-birthday" class="profile-data-birthday profile-data-item">
                <span class="icon">
                  <img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Birthday icon">
                </span>
                <span class="data">Born on <%= @data[:birthday] %></span>
              </div>
            <% end %>
            <div id="profile-data-joined" class="profile-data-joined profile-data-item">
              <span class="icon">
                <img src="<%= static_path(@conn, "/images/icons/home-icon.png") %>" alt="Joined icon">
              </span>
              <span class="data">Joined <%= @data[:created_at] %></span>
            </div>
          </section>
        </article>
        <article id="followers-you-know-widget" class="followers-you-know-widget widget">
          <header class="title-container">
            <h1 class="title"><span id="followers-you-know-count" class="followers-you-know-count count">7</span> Followers you know</h1>
          </header>
          <section class="content-container">
            <section class="row">
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
            </section>
            <section class="row">
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
              <figure user-name="sdfsdfdsf" class="profile-picture">
                <a href="kees" class="user-link">
                  <img src="<%= static_path(@conn, "/images/profile-picture.png") %>" alt="Profile picture">
                </a>
              </figure>
            </section>
          </section>
        </article>
        <article id="media-widget" class="media-widget widget">
          <header class="title-container">
            <h1 class="title"><span id="media-count" class="media-count count">63</span> Photos and videos</h1>
          </header>
          <section class="content-container">
            <section class="row">
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
            </section>
            <section class="row">
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
            </section>
            <section class="row">
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
              <figure class="item">
                <a href="#" class="item-link">
                  <div class="fakeimg" style="background-image: url('<%= static_path(@conn, "/images/banner.jpg") %>')"></div>
                </a>
              </figure>
            </section>
          </section>
        </article>
      </section>
      <section class="right-col">
        <article id="tweet-nav-widget" class="tweet-nav-widget widget">
          <section class="content-container">
            <div id="tweet-nav-widget-tweets" class="tweet-nav-widgets-tweets current item">
              <a href="<%= user_path(@conn, :show, @username) %>" class="item-link">
                <h2 class="item-title">Tweets</h1>
              </a>
              <div class="bottom-line"></div>
            </div>
            <div id="tweet-nav-widget-tweets-and-replies" class="tweet-nav-widgets-tweets-and-replies item">
              <a href="<%= user_path(@conn, :show_with_replies, @username) %>" class="item-link">
                <h2 class="item-title">Tweets and replies</h2>
              </a>
              <div class="bottom-line"></div>
            </div>
            <div id="tweet-nav-widget-media" class="tweet-nav-widgets-media item">
              <a href="<%= user_path(@conn, :show_media, @username) %>" class="item-link">
                <h2 class="item-title">Media</h2>
              </a>
              <div class="bottom-line"></div>
            </div>
            <div id="tweet-nav-widget-likes" class="tweet-nav-widgets-likes item">
              <a href="<%= user_path(@conn, :show_likes, @username) %>" class="item-link">
                <h2 class="item-title">Likes</h2>
              </a>
              <div class="bottom-line"></div>
            </div>
            <div id="tweet-nav-widget-lists" class="tweet-nav-widgets-lists item">
              <a href="<%= list_path(@conn, :index, @username) %>" class="item-link">
                <h2 class="item-title">Lists</h2>
              </a>
              <div class="bottom-line"></div>
            </div>
          </section>
        </article>
        <h1><%= @username %><%= @data[:name] %></h1>
        <%= render @view_module, @view_template, assigns %>
      </section>
    </main>
    <section id="new-tweet" class="new-tweet overlay">
      <section class="modal">
        <header class="title-container">
          <h1 class="title">Compose new Tweet</h1>
          <div class="close-btn btn">
            <img src="<%= static_path(@conn, "/images/icons/close-icon.png") %>" alt="Close icon">
          </div>
        </header>
        <section class="content-container">
          <textarea class="compose-field" placeholder="What's happening?"></textarea>
          <section class="btn-container">
            <ul class="left-btn-container">
              <li id="add-media-btn" class="add-media btn" title="Add media">
                <img class="icon" src="<%= static_path(@conn, "/images/icons/media-icon.png") %>" alt="Media icon">
              </li>
            </ul>
            <div class="right-container">
              <span class="char-count item">140</span>
              <span class="tweet-btn btn item" disabled="disabled">
                <span class="btn-content-container">
                 <span class="btn-icon"><img src="<%= static_path(@conn, "/images/icons/tweet-icon.png") %>" alt="Tweet icon"></span>
                 <span class="btn-text">Tweet</span>
                </span>
              </span>
            </div>
          </section>
        </section>
      </section>
    </section>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/platform.js") %>"></script>
    <script>require('web/static/js/platform.js')</script>
  </body>
</html>
