@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
// Main color
$mainColor: #64B5F6;
// Main color on hover
$mainColorHover: #1976D2;
// Main grey color
$mainGreyColor: #546E7A;
// Main grey color on hover
$mainGreyColorHover: #37474F;
// Main grey color, lighter
$mainGreyColorLight: #CFD8DC;
// Main red color
$mainRedColor: #D32F2F;
// Main red color, lighter
$mainRedColorLight: #EF9A9A;
// Main box shadow
$mainBoxShadow: 8px 0 30px 10px rgba(0, 0, 0, 0.14);
// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: $mainGreyColor;
  background-color: $mainColor;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, h2 {
  color: #000000;
  font-weight: 300;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
a {
  color: $mainColor;
  text-decoration: inherit;
  @include transition(color .2s ease-in-out);

  &:hover {
    color: $mainColorHover;
  }
}
figure {
  margin: 0;
}
input, textarea {
  padding: 5px;
  line-height: inherit;
  font: inherit;
  color: inherit;
  background-color: #EBEFF2;
  border: 0;
  outline-width: 0;
}
textarea {
  resize: none;
}
label {
  display: block;
}
.input-error,
.checkbox-error {
  color: $mainRedColor;
}
.form .form-error.error {
  padding: 5px 9px;
  margin-bottom: 20px;
  color: $mainRedColor;
  background-color: $mainRedColorLight;
  border: 1px solid $mainRedColor;
}
.form .form-group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
.form .checkbox-form-group .checkbox, 
.form .checkbox-form-group .checkbox-label {
  float: left;
}
.form .checkbox-form-group .checkbox {
  margin-top: 4px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid $mainGreyColorLight;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form .checkbox-form-group .checkbox:not(:checked) {
  background: none !important;
}
.form .checkbox-form-group .checkbox:checked {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn {
  cursor: pointer;
}
.blue-btn,
.grey-btn {
  padding: 10px 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  @include transition(background-color .2s ease-in-out);
  display: inline-block;
}
input.blue-btn,
input.grey-btn,
button.blue-btn,
button.grey-btn {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.blue-btn {
  background-color: $mainColor;

  &:hover {
    background-color: $mainColorHover;
  }
}
.grey-btn {
  background-color: $mainGreyColor;

  &:hover {
    background-color: $mainGreyColorHover;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 1000;
}
.widget,
.modal,
.tweet {
  padding: 20px;
  line-height: 1;
  background-color: #FFFFFF;
  box-shadow: $mainBoxShadow;
  overflow: hidden;

  * {
    line-height: 1.5;
  }
}
.widget,
.tweet {
  margin-bottom: 40px;
}
.tweet {
  overflow: initial;
}
.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 700px;
  transform: translate(-50%, -50%);
  opacity: 0;
  @include transition(all .4s ease-in-out);

  &.open {
    top: 50%;
    opacity: 1;
  }
}
.widget .title-container,
.modal .title-container {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  display: inline-block;

  &:last-child {
    padding-bottom: 0;
  }
}
.widget .title-container {
  padding-bottom: 10px;
}
.modal .title-container {
  text-align: center;
}
.widget .title-container .title,
.modal .title-container .title {
  width: 100%;
  line-height: 1;
  color: #000000;
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
}
.widget .title-container .close-btn,
.modal .title-container .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
}
.widget .title-container .close-btn img,
.modal .title-container .close-btn img {
  width: 100%;
  height: 100%;
}
.widget .content-container,
.modal .content-container {
  width: 100%;
  line-height: 1;
  display: inline-block;
}
.widget .content-container *,
.modal .content-container * {
  line-height: 1.5;
}
$headerHeight: 65px;
$headerHeightMinusTen: 55px;
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  vertical-align: middle;
  color: $mainGreyColor;
  background-color: #FFFFFF;
  font-size: 14px;
  box-shadow: $mainBoxShadow;
  z-index: 100;
}
#header .container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 100%;
}
#header .container #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55px;
  display: inline-block;
}
#header .container #logo a {
  color: inherit;
}
#header .container #logo a img {
  height: $headerHeightMinusTen;
  width: auto;
}
#notification-container {
  position: fixed;
  top: 65px;
  width: 100%;
  color: $mainGreyColor;
  box-shadow: $mainBoxShadow;
  z-index: 99;
}
#notification-container .notification {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  display: none;
}
#notification-container .notification.info-notification {
  background-color: #FFFFFF;
}
#notification-container .notification.error-notification {
  color: #FFFFFF;
  background-color: $mainRedColor;
}
#notification-container .notification .content-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: center;
}
#main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 65px;
  padding-top: 40px;
  width: 1200px;
}
#main .left-col {
  float: left;
  padding-right: 20px;
  width: 400px;
}
#main .right-col {
  float: right;
  padding-left: 20px;
  width: 800px;
}