// Main color
$mainColor: #64B5F6;
// Main color on hover
$mainColorHover: #1976D2;
// Main grey color
$mainGreyColor: #546E7A;
// Main grey color on hover
$mainGreyColorHover: #37474F;
// Main grey color, lighter
$mainGreyColorLight: #CFD8DC;
// Main red color
$mainRedColor: #D32F2F;
// Main red color, lighter
$mainRedColorLight: #EF9A9A;
// Main box shadow
$mainBoxShadow: 8px 0 30px 10px rgba(0, 0, 0, 0.14);
// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 10000000000000000000000000000000px;
  height: 100vh;
  @include transition(all 1s ease-in-out);
}
.slider .slide {
  float: left;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#header .container .login-btn-container {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
#header .container .login-btn-container .login-btn {
  padding: 0 30px;
  line-height: 55px;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: $mainColor;
  @include transition(all .2s ease-in-out);

  &:hover {
    background-color: $mainColorHover;
  }
}
#main {
  margin-top: 165px;
  padding-top: 0;
}
#main .hero-container {
  color: #FFFFFF;
  display: inline-block;
}
#main .hero-container .hero-title {
  margin-bottom: 12px;
  line-height: 1;
  color: inherit;
  font-size: 48px;
}
#main .hero-container .hero-subtitle {
  color: rgba(255, 255, 255, 0.7);
}
#main .register-form-container {
  float: right;
}
#main .register-form-container .content-container  {
  display: block;
}
#main .register-form-container .content-container .register-form .form-group .input {
  width: 350px;
}
#main .register-form-container .content-container .register-form .register-btn {
  width: 100%;
}
#login .modal {
  width: 390px;
}
#login .modal .title-container .title {
  text-align: center;
}
#login .modal .content-container .login-form .form-group {
  width: 350px;
}
#login .modal .content-container .login-form .form-group .input-label,
#login .modal .content-container .login-form .form-group .input,
#login .modal .content-container .login-form .form-group .input-error {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
#login .modal .content-container .login-form .checkbox-form-group .checkbox-label {
  margin-right: 5px;
}
#login .modal .content-container .login-form .checkbox-form-group .seperator {
  float: left;
}
#login .modal .content-container .login-form .checkbox-form-group .forgot-password-link {
  margin-left: 5px;
}
#login .modal .content-container .login-form .form-group .input {
  display: block;
}
#login .modal .content-container .login-form .submit-btn {
  width: 100%;
}