// Main color
$mainColor: #64B5F6;
// Main color on hover
$mainColorHover: #1976D2;
// Main grey color
$mainGreyColor: #546E7A;
// Main grey color on hover
$mainGreyColorHover: #37474F;
// Main grey color, lighter
$mainGreyColorLight: #CFD8DC;
// Main red color
$mainRedColor: #D32F2F;
// Main red color, lighter
$mainRedColorLight: #EF9A9A;
// Main box shadow
$mainBoxShadow: 8px 0 30px 10px rgba(0, 0, 0, 0.14);
// Mixin for transition
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
}
// Mixin for default background 
@mixin background() {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
$headerHeight: 65px;
$headerHeightMinusTen: 55px;
#header .container #nav {
  float: left;
}
#header .container #nav .nav-item-container {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
#header .container #nav .nav-item-container .nav-item {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  @include transition(all .2s ease-in-out);

  &.current {
    color: $mainColor;

    .bottom-line {
      bottom: 0;
    }
  }
  &:hover {
    color: $mainColor;

    .bottom-line {
      bottom: 0;
    }
    .icon {
      color: $mainColor;
    }
  }
}
#header .container #nav .nav-item-container .nav-item .bottom-line {
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: $mainColor;
  @include transition(all .2s ease-in-out);
}
#header .container #nav .nav-item-container .nav-item a {
  color: inherit;
}
#header .container #nav .nav-item-container .nav-item .icon {
  margin-right: 5px;
}
#header .container #nav .nav-item-container .nav-item .icon img {
  width: auto;
  height: 25px;
  vertical-align: middle;
}
#header .container #actions {
  float: right;
}
#header .container #actions .actions-item-container {
  margin: 0;
  padding: 5px 0;
  height: $headerHeight;
  list-style: none;
  display: block;
}
#header .container #actions .actions-item-container .actions-item {
  float: left;
}
#header .container #actions .actions-item-container .search {
  height: $headerHeightMinusTen;
  line-height: 0;
}
#header .container #actions .actions-item-container .search .search-input {
  padding: 0 20px;
  height: 100%;
}
#header .container #actions .actions-item-container .profile-actions {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
#header .container #actions .actions-item-container .profile-actions .profile-picture {
  width: $headerHeightMinusTen;
  height: $headerHeightMinusTen;
  @include background();
  border-radius: 100%;
  cursor: pointer;
}
#header .container #actions .actions-item-container .profile-actions .profile-actions-dropdown {
  position: absolute;
  top: $headerHeight;
  left: -20px;
  margin: 0;
  padding: 16px 0;
  width: 200px;
  line-height: 1.5;
  background-color: #FFFFFF;
  box-shadow: $mainBoxShadow;
  list-style: none;
  display: none;
}
#header .container #actions .actions-item-container .profile-actions .profile-actions-dropdown li {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
  
  &:hover {
    color: $mainColor;
    
    .content .name {
      color: $mainColor;
    }
  }
}
#header .container #actions .actions-item-container .profile-actions .profile-actions-dropdown li.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: $mainGreyColorLight;
}
#header .container #actions .actions-item-container .profile-actions .profile-actions-dropdown li a {
  color: inherit;
}
#header .container #actions .actions-item-container .profile-actions .profile-actions-dropdown .current-user .content .name {
  color: #000000;
  font-size: 20px;
  @include transition(all .2s ease-in-out);
}
#header .container #actions .actions-item-container .new-tweet-btn {
  padding: 0 30px;
  height: $headerHeightMinusTen;
  line-height: $headerHeightMinusTen;
  color: #FFFFFF;
  background-color: $mainColor;
  cursor: pointer;
  @include transition(all .2s ease-in-out);

  &:hover {
    background-color: $mainColorHover;
  }
}
#header .container #actions .actions-item-container .new-tweet-btn .btn-content-container .btn-icon img {
  margin-right: 5px;
  width: auto;
  height: 25px;
  vertical-align: middle;
}
#new-tweet {
  color: $mainGreyColor;
}
#new-tweet .modal .content-container .compose-field {
  padding: 16px 20px;
  width: 100%;
  height: 104px;
  resize: none;
}
#new-tweet .modal .content-container .btn-container {
  padding-top: 20px;
  width: 100%;
  height: 66px;
  line-height: 46px;
  vertical-align: middle;
  display: inline-block;

  * {
    line-height: 46px;
  }
}
#new-tweet .modal .content-container .btn-container .left-btn-container {
  float: left;
  margin: 0;
  padding: 0;
  height: 25px;
  list-style: none;
}
#new-tweet .modal .content-container .btn-container .left-btn-container .btn {
  float: left;
  height: 100%;
}
#new-tweet .modal .content-container .btn-container .left-btn-container .btn .icon {
  width: auto;
  height: 25px;
}
#new-tweet .modal .content-container .btn-container .right-container {
  float: right;
}
#new-tweet .modal .content-container .btn-container .right-container .item {
  float: left;
}
#new-tweet .modal .content-container .btn-container .right-container .char-count.warn {
  color: #D32F2F;
}
#new-tweet .modal .content-container .btn-container .right-container .tweet-btn {
  margin-left: 20px;
  padding: 10px 20px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: $mainColor;
  @include transition(all .2s ease-in-out);

  &:hover {
    background-color: $mainColorHover;
  }
  &[disabled="disabled"] {
    opacity: 0.7;
    cursor: default;
    
    &:hover {
      background-color: $mainColor;
    }
  }
  * {
    line-height: 1.5;
  }
}
#new-tweet .modal .content-container .btn-container .right-container .tweet-btn .btn-content-container .btn-icon img {
  margin-right: 5px;
  width: auto;
  height: 25px;
  vertical-align: middle;
}
#profile-data-top {
  position: relative;
  margin-top: 65px;
  margin-bottom: -25px;
  width: 100%;
  height: 495px;
}
#profile-data-top .banner {
  position: absolute;
  width: 100%;
  height: 100%;
  @include background();
  z-index: -1;
}
#profile-data-top .profile-data-container {
  padding-top: 90px;
  text-align: center;
}
#profile-data-top .profile-data-container .profile-picture {
  margin: 0 auto 25px auto;
  width: 150px;
  height: 150px;
  @include background();
  border-radius: 100%;
}
#profile-data-top .profile-data-container .name,
#profile-data-top .profile-data-container .username {
  line-height: 1;
}
#profile-data-top .profile-data-container .name {
  margin-bottom: 10px;
  color: #FFFFFF;
}
#profile-data-top .profile-data-container .username {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}
#profile-data-top .profile-data-container .name .profile-link,
#profile-data-top .profile-data-container .username .profile-link {
  color: inherit;
  text-decoration: inherit;
}
#profile-data-top .profile-data-container .btn-container .btn {
  width: 175px;
}
#profile-data-top .profile-data-container .btn-container .follow-btn {
  margin-right: 15px;
}
#profile-data-top .profile-data-container .btn-container .tweet-to-btn {
  margin-left: 15px;
}
#user-page #main {
  left: 0;
  transform: none;
  margin-top: 25px;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  width: 100%;
  background-color: $mainColor;
}
#main .left-col .stats-widget .content-container .col,
#main .left-col .profile-widget .content-container .stats-container .col {
  float: left;
  text-align: center;
  width: 33%;
  display: inline-block;
  
  &:nth-child(2) {
    width: 34%;
  }

  * {
    line-height: 1;
  }
}
#main .left-col .stats-widget .content-container .col a,
#main .left-col .profile-widget .content-container .stats-container .col a {
  color: inherit;
  text-decoration: inherit;
}
#main .left-col .stats-widget .content-container .col .title,
#main .left-col .profile-widget .content-container .stats-container .col .title {
  margin-bottom: 10px;
}
#main .left-col .profile-widget .content-container .simple-profile-container {
  position: relative;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  width: calc(100% + 40px);
  height: 157px;
}
#main .left-col .profile-widget .content-container .simple-profile-container .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background();
}
#main .left-col .profile-widget .content-container .simple-profile-container .profile-picture {
  position: relative;
  margin: 0 auto 20px auto;
  width: 75px;
  height: 75px;
  z-index: 1;
}
#main .left-col .profile-widget .content-container .simple-profile-container .name-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  color: #FFFFFF;
  z-index: 1;

  * {
    line-height: 1;
  }
}
#main .left-col .profile-widget .content-container .simple-profile-container .name-container .name,
#main .left-col .profile-widget .content-container .simple-profile-container .name-container .username {
  float: left;
}
#main .left-col .profile-widget .content-container .simple-profile-container .name-container .name {
  margin-right: 10px;
  color: inherit;
}
#main .left-col .profile-widget .content-container .simple-profile-container .name-container .username {
  color: rgba(255, 255, 255, 0.7);
}
#main .left-col .trends-widget .content-container .trend-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main .left-col .trends-widget .content-container .trend-container .trend-item .trend-name:not(:last-child) {
  margin-bottom: -4px;
}
#main .left-col .copyright-widget .content-container .copyright-title {
  color: #000000;
}
#main .left-col .profile-data-widget .title-container .title .profile-data-name,
#main .left-col .profile-data-widget .title-container .title .profile-data-username {
  line-height: 1;
}
#main .left-col .profile-data-widget .title-container .title .profile-data-name {
  font-weight: 400;
}
#main .left-col .profile-data-widget .title-container .title .profile-data-username {
  color: $mainGreyColor;
}
#main .left-col .profile-data-widget .content-container .profile-data-bio {
  margin-bottom: 20px;
}
#main .left-col .profile-data-widget .content-container .profile-data-item .icon {
  margin-right: 5px;
  width: auto;
  height: 20px;
  vertical-align: sub;
  display: inline-block;
}
#main .left-col .profile-data-widget .content-container .profile-data-item .icon img {
  width: auto;
  height: 100%;
}
#main .left-col .followers-you-know-widget .title-container,
#main .left-col .media-widget .title-container {
  padding-bottom: 20px;
}
#main .left-col .followers-you-know-widget .content-container .row {
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}
#main .left-col .followers-you-know-widget .content-container .row .profile-picture {
  float: left;
  margin-right: 20px;
  width: 70px;
  height: 70px;

  &:last-child {
    margin-right: 0;
  }
}
#main .left-col .followers-you-know-widget .content-container .row .profile-picture .user-link {
  display: inline-block;
}
#main .left-col .followers-you-know-widget .content-container .row .profile-picture .user-link img {
  width: 100%;
  height: 100%;
}
#main .left-col .media-widget {
  padding-bottom: 5px;
}
#main .left-col .media-widget .content-container {
  margin: -15px;
  margin-top: 0;
  width: calc(100% + 30px);
  line-height: 0;
}
#main .left-col .media-widget .content-container .row {
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}
#main .left-col .media-widget .content-container .row .item {
  float: left;
  margin-right: 5px;
  height: 89px;
  display: inline-block;

  &:nth-child(2) {
    margin-right: 4px;
  }

  &:last-child {
    margin-right: 0;
  }
}
#main .left-col .media-widget .content-container .row .item .item-link {
  display: inline-block;
}
#main .left-col .media-widget .content-container .row .item .item-link .fakeimg {
  width: 89px;
  height: 89px;
  @include background();
}
#main .right-col .tweet-nav-widget {
  overflow: hidden;
}
#main .right-col .tweet-nav-widget .content-container {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
}
#main .right-col .tweet-nav-widget .content-container .item {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 0;
  display: inline-block;

  &:hover {
    .item-title {
      color: $mainColor;
    }
    .bottom-line {
      bottom: -22px;
    }
  }

  &.current {
    .item-title {
      color: $mainColor;
    }
    .bottom-line {
      bottom: -22px;
    }
  }

  * {
    line-height: 1;
  }
}
#main .right-col .tweet-nav-widget .content-container .item .item-link {
  display: inline-block
}
#main .right-col .tweet-nav-widget .content-container .item .item-link .item-title {
  float: left;
  @include transition(all .2s ease-in-out);
}
#main .right-col .tweet-nav-widget .content-container .item .bottom-line {
  position: absolute;
  bottom: -25px;
  width: calc(100% - 20px);
  height: 3px;
  background-color: $mainColor;
  @include transition(all .2s ease-in-out);
}
#main .right-col .tweet {
  text-align: right;
}
#main .right-col .tweet .tweet-author,
#main .right-col .tweet .tweet-content-container {
  text-align: left;
}
#main .right-col .tweet .tweet-author {
  margin-bottom: 16px;
}
#main .right-col .tweet .tweet-author a {
  color: inherit;
  display: inline-block;
}
#main .right-col .tweet .tweet-author .profile-picture {
  margin-right: 20px;
  float: left;
  width: 65px;
  height: 65px;
  @include background();
}
#main .right-col .tweet .tweet-author .name-container {
  margin-top: 8px;
  line-height: 1;
  display: inline-block;
}
#main .right-col .tweet .tweet-author .name-container .name,
#main .right-col .tweet .tweet-author .name-container .username {
  float: left;
  line-height: 1;
}
#main .right-col .tweet .tweet-author .name-container .name {
  margin-right: 10px;
  font-weight: 400;
}
#main .right-col .tweet .tweet-author .name-container .username {
  color: $mainGreyColor;
}
#main .right-col .tweet .tweet-content-container {
  margin: {
    bottom: 20px;
    left: 85px;
  }
}
#main .right-col .tweet .tweet-content-container .media-item {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  @include background();
}
#main .right-col .tweet .tweet-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;

  * {
    text-align: left;
  }
}
#main .right-col .tweet .tweet-actions .tweet-action-container {
  margin: 0;
  margin-right: -10px;
  padding: 0;
  list-style: none;
}
#main .right-col .tweet .tweet-actions .tweet-action-container .tweet-action {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;

  * {
    line-height: 1;
    display: inline-block;
  }
}
#main .right-col .tweet .tweet-actions .tweet-action-container .tweet-action .icon {
  margin-right: 5px;
  height: 20px;
  vertical-align: sub;
  display: inline-block;
}
#main .right-col .tweet .tweet-actions .tweet-action-container .tweet-action .icon img {
  width: auto;
  height: 100%;
}
#main .right-col .tweet .tweet-actions .tweet-action-container .more-btn .more-dropdown {
  position: absolute;
  top: 34px;
  left: 10px;
  margin: 0;
  padding: 20px;
  width: 200px;
  line-height: 1.5;
  background-color: #FFFFFF;
  box-shadow: $mainBoxShadow;
  display: none;

  * {
    line-height: 1.5;
  }
}
#main .right-col .tweet .tweet-actions .tweet-action-container .tweet-action.more-btn .more-dropdown .more-dropdown-item {
  color: $mainColor;
  @include transition(all .2s ease-in-out);

  &:hover {
    color: $mainColorHover;
  }
}
.media-item-modal-overlay .media-item-modal .content-container .media-item-fullmodal {
  margin: {
    top: 0;
    bottom: -22px;
    left: -20px;
    right: -20px;
  }
  width: calc(100% + 40px);
  height: auto;
}